<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xs-6 col-md-12">
        <AddProductComponents />
        <!-- List products component using props name products and productCategoryName -->
        <ListProductsComponent :products="getDrinksProducts" :productCategoryName="drinks" />
        <ListProductsComponent :products="getFoodsProducts" :productCategoryName="foods" />
        <ListProductsComponent :products="getAlcoholProducts" :productCategoryName="alcohol" />
      </div>
    </div>
  </div>

</template>
<script>
  import AddProductComponents from "@/components/AddProductComponents.vue";
  import ListProductsComponent from "@/components/ListProductsComponent.vue";
  export default {
    components: {
      AddProductComponents,
      ListProductsComponent
    },
    layout: "navbarLayout",
    header: {
      title: "ระบบขายหน้าร้าน POS (Point of sale)"
    },
    data() {
      return {
        //Definding property for list products component prop
        drinks: 'เครื่องดื่ม',
        foods: 'อาหาร',
        alcohol: 'แอลกอฮอร์',
      };
    },
    computed: {
      // get drinks only
      getDrinksProducts(){
        const products = this.$store.state.productStore.proData.filter((product) => {
          return product.productCategory === 'drinks'
        })
        return products
      },
      // get foods only
      getFoodsProducts(){
        const products = this.$store.state.productStore.proData.filter((product) => {
          return product.productCategory === 'foods'
        })
        return products
      },
      // get others
      getAlcoholProducts(){
          const products = this.$store.state.productStore.proData.filter((product)=>{
            return product.productCategory == 'alcohol'
          })
          return products
        }
    }
  };

</script>

