<template>
  <div class="container">
      <div v-for="(order,index) in orders" :key="`${index}`">
       <ListReportComponent :order="order"/>
      </div>
      <div class="report-summary">
          <h3 style="text-align:right">
              ราคารวมทั้งหมด <span style="color:#cc0000">{{  convertNumber(sumAllPrice()) }}</span> บาท</h3>
          <h3 style="text-align:right">
              ราคาทุนรวม <span style="color:#009900">{{  convertNumber(sumAllCapital()) }}</span> บาท 
              | กำไร <span style="color:#ff9900">{{ convertNumber(sumAllProfit()) }}</span> บาท
              </h3>
         
          <h3 style="text-align:right">กำไรหักลบภาษี <span style="color:#cc6600">7%</span>
               (<span style="color:#cc0000">{{ convertTax(sumAllProfit()*0.07) }}</span>)
              : <span style="color:#ff9900">
                  {{  convertNumber(sumAllProfit()-(sumAllProfit()*0.07)) }}
                </span>
              บาท
              </h3>
      </div>
  </div>
</template>
<script>
import ListReportComponent from '@/components/ListReportComponent'
export default{
   layout : 'navbarLayout',
   components : {
       ListReportComponent : ListReportComponent
   },
   data(){
       return {

       }
   },
   methods:{
       sumAllPrice(){
        let AllPrice = 0;
         this.orders.forEach((od)=>{
          AllPrice += this.sumPrice(od.products)
        })
      return AllPrice
     },
     sumAllProfit(){
       let AllProfit = 0;
         this.orders.forEach((od)=>{
          AllProfit += this.sumProfit(od.products)
        })
      return AllProfit
   },
   sumAllCapital(){
       let AllCapital = 0;
         this.orders.forEach((od)=>{
          AllCapital += this.sumCapital(od.products)
        })
      return AllCapital
   },
   convertNumber(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
   sumPrice(products){
    return products.reduce((sum,product)=>{
        return sum + (product.amount*product.product.productSalePrice)
        },0)
    },
    sumCapital(products){
               return products.reduce((sum,product)=>{
                   return sum + (product.amount*product.product.productCapitalPrice)
               },0)
           },
           sumProfit(products){
               return products.reduce((sum,product)=>{
                   return sum + ((product.amount*product.product.productSalePrice)-(product.amount*product.product.productCapitalPrice))
               },0)
           },
   convertTax(number){
      return new Intl.NumberFormat("thai", {
        maximumSignificantDigits: 3
      }).format(number);
    
   },
   },
   computed:{
       orders(){
           const orders = this.$store.state.ordersStore.orderData
           return orders
       }
   },
   mounted(){
       console.log(this.sumAllPrice())
   }

}
</script>
<style scoped>
   .report-summary{
       padding:0.5em;
       border-radius: 5px;
       background-color:#fff;
   }
</style>