<template>
  <div>
    <div class="list-product" v-for="(table,index) in tables" :key="`${index}`">
      <h2>โต๊ะ {{table.tableName}}</h2>
      <button
        type="button"
        class="btn btn-success float-right"
        style="margin-bottom:1em"
        @click="showModal(table.tableName)"
      >เพิ่มรายการอาหาร</button>
      <div style>
        <table class="table">
          <thead>
            
            <th>ชื่อสินค้า</th>
            <th>จำนวน</th>
            <th>ราคา</th>
            <th>ราคารวม</th>
            <th class="test">จัดการรายการ</th>
          </thead>
          <tbody v-for="(orders,index) in tempOrders" :key="`${index}`">
            <tr v-if="orders.tableName == table.tableName&&orders.product.productCategory=='alcohol'">
              
              <td>{{orders.product.productName}}</td>
              <td>{{convertNumber(orders.amount)}}</td>
              <td>{{convertNumber(orders.product.productSalePrice)}}</td>
              <td>{{convertNumber(parseInt(orders.amount)*parseInt(orders.product.productSalePrice))}}</td>
              <div class="test2">
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="cancelOrder(findtempOrderByIndex(orders.orderId),orders.product.productId,orders.amount)"
                  >ยกเลิกรายการสินค้า</button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    @click="showModalEdit(index)"
                  >แก้ไขรายการสินค้า</button>
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="myModalRef" hide-footer title="สั่งสินค้า" size="lg">
      <label>เลือกสินค้า</label>
      <span
        class="error"
        v-if="errors.has('productNameSelect')"
      >{{ errors.first('productNameSelect') }}</span>
      <div :class="{errorinput: errors.has('productNameSelect')}">
        <select
          name="productNameSelect"
          class="addproduct-input"
          v-model="productselected"
          v-validate="'required'"
        >
          <option value="null" selected disabled>กรุณาเลือกสินค้า</option>
          <option
            v-for="(pro,index) in getProducts"
            :key="`${index}`"
            :value="pro"
            v-if="pro.productQty != 0 &&pro.productCategory=='alcohol'"
            :class="{errorMinimumQty: parseInt(pro.productQty) <= parseInt(pro.productMinimum)}"
          >{{pro.productName}} ราคา {{pro.productSalePrice}} บาท สินค้าคงเหลือ {{pro.productQty}} ชิ้น</option>
        </select>
      </div>

      <label>จำนวน</label>
      <span class="error" v-if="errors.has('amount')">{{ errors.first('amount') }}</span>
      <div :class="{errorinput: errors.has('amount')}">
        <input
          type="number"
          placeholder="จำนวน"
          class="addproduct-input"
          name="amount"
          v-validate="'required|numeric'"
          min="1"
          v-model="amount"
        >
      </div>
      <button type="submit" class="addproduct-button" @click="addOrder">ตกลง</button>
    </b-modal>
    <!-- Edite form -->
    <b-modal ref="myModalRefEdit" hide-footer title="แก้ไขรายการสินค้า" size="lg">
      <label>สินค้า</label>
      <span
        class="error"
        v-if="errors.has('productNameSelect')"
      >{{ errors.first('productNameSelect') }}</span>
      <div :class="{errorinput: errors.has('productNameSelect')}">
        <select
          name="productNameSelect"
          class="addproduct-input"
          v-model="productselected"
          disabled
        >
          <option value="null" selected disabled>กรุณาเลือกสินค้า</option>
          <option
            v-for="(pro,index) in getProducts"
            :key="`${index}`"
            :value="pro"
          >{{pro.productName}} ราคา {{pro.productSalePrice}} บาท สินค้าคงเหลือ {{pro.productQty}} ชิ้น</option>
        </select>
      </div>

      <label>จำนวน</label>
      <span class="error" v-if="errors.has('amount')">{{ errors.first('amount') }}</span>
      <div :class="{errorinput: errors.has('amount')}">
        <input
          type="number"
          placeholder="จำนวน"
          class="addproduct-input"
          name="amount"
          min="1"
          v-model="amount"
        >
      </div>
      <button type="submit" class="addproduct-button" @click="updattempOrder">ตกลง</button>
    </b-modal>

      
  </div>
</template>
<script>
export default {
  props: {
    tables: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      tableNameModal: null,
      orderId: null,
      productselected: null,
      tableName: null,
      amount: null,
      defaultAmount: null
    };
  },
  methods: {
    getLastOrderId() {
      if (this.$store.state.ordersStore.orderData.length > 0) {
        //Get last product id
        return this.$store.state.ordersStore.orderData.slice(-1).pop().orderId;
      } else {
        //If not found return 0
        return 0;
      }
    },
    confirmOrder(tableName) {
      let confirmResult = confirm(
        `คุณต้องการบันทึกผลการขาย ของโต๊ะ ${tableName} ใช่หรือไม่`
      );
      if (confirmResult == true) {
        //console.log(this.findTempOrderByTableName(tableName))
        let orderToData = {
          orderId: this.getLastOrderId() + 1,
          tableName: tableName,
          products: this.findTempOrderByTableName(tableName)
        };
        console.log("=" + JSON.stringify(orderToData));
        this.$store.commit("ordersStore/addOrdersToOrderData", orderToData);
        this.removeTemp(tableName);
      }
    },
    showVoidModal(tableNames) {
      this.tableNameModal = tableNames;
      this.$refs.voidModal.show();
    },
    getLastTempOrderID() {
      if (this.$store.state.tempOrdersStore.tempOrderData.length > 0) {
        //Get last product id
        return this.$store.state.tempOrdersStore.tempOrderData.slice(-1).pop()
          .orderId;
      } else {
        //If not found return 0
        return 0;
      }
    },
    findtempOrderByIndex(orderId) {
      const index = this.$store.state.tempOrdersStore.tempOrderData.findIndex(
        tempOrder => tempOrder.orderId === orderId
      );
      return index;
    },
    cancelOrder(index, productId, amount) {
      const confirmResult = confirm(
        `คุณต้องการยกเลิกรายการสินค้า ${
          this.$store.state.tempOrdersStore.tempOrderData[index].product
            .productName
        } ของโต๊ะ ${
          this.$store.state.tempOrdersStore.tempOrderData[index].tableName
        } ใช่หรือไม่`
      );
      if (confirmResult == true) {
        this.$store.commit("productStore/updateAmountcanceltempOrder", {
          productId,
          amount
        });
        this.$store.commit("tempOrdersStore/canceltempOrderData", index);
      }
    },
    updattempOrder() {
      if ((parseInt(this.amount) - parseInt(this.defaultAmount)) > parseInt(this.productselected.productQty)) {
        alert("จำนวนสินค้าไม่เพียงพอต่อการสั่งซื้อ?");
      } else {
        if (this.amount) {
          //console.log(parseInt(this.amount) - parseInt(this.defaultAmount))
          this.$store.commit("tempOrdersStore/updatetempOrderData", {
            orderId: this.orderId,
            tableName: this.tableName,
            amount: this.amount,
            product: this.productselected
          });
          this.$store.commit("productStore/updateAmountProduct", {
            amount: parseInt(this.amount) - parseInt(this.defaultAmount),
            productId: this.productselected.productId
          });
          this.orderId = "";
          this.tableName = "";
          this.amount = "";
          this.$validator.reset();
          this.productselected = null;
          this.$refs.myModalRefEdit.hide();
          this.tempOrders = this.$store.state.tempOrdersStore.tempOrderData;
        } else {
          alert("กรุณากรอกข้อมูลให้ครบถ้วน?");
        }
      }
    },
    showModalEdit(index) {
      console.log("index", index);
      this.orderId = this.tempOrders[index].orderId;
      this.productselected = this.getAllProduct()[
        this.findProductIndexByProductId(
          this.tempOrders[index].product.productId
        )
      ];
      this.tableName = this.tempOrders[index].tableName;
      this.amount = this.tempOrders[index].amount;
      this.defaultAmount = this.tempOrders[index].amount;
      this.$refs.myModalRefEdit.show();
    },
    showModal(tableNames) {
      this.$refs.myModalRef.show();
      this.tableName = tableNames;
      this.productselected = null;
      this.amount = "";
      console.log(this.tableName);
      this.$validator.reset();
    },
    convertNumber(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    findTempOrderDuplicate() {
      const index = this.$store.state.tempOrdersStore.tempOrderData.findIndex(
        tempOrder =>
          tempOrder.tableName === this.tableName &&
          tempOrder.product.productId === this.productselected.productId
      );
      return index;
    },
    addOrder() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          if (this.findTempOrderDuplicate() == -1) {
            if (
              parseInt(this.amount) > parseInt(this.productselected.productQty)
            ) {
              alert("จำนวนสินค้าไม่เพียงพอต่อการสั่งซื้อ?");
            } else {
              if (this.productselected && this.amount) {
                this.$store.commit("tempOrdersStore/addOrdersTotempOrderData", {
                  orderId: this.getLastTempOrderID() + 1,
                  tableName: this.tableName,
                  amount: this.amount,
                  product: this.productselected
                });
                this.$store.commit("productStore/updateAmountProduct", {
                  amount: this.amount,
                  productId: this.productselected.productId
                });
                this.productselected = null;
                this.amount = "";
                this.tableName = "";
                this.$validator.reset();
                this.$refs.myModalRef.hide();
                return true;
              } else {
                alert("กรุณากรอกข้อมูลให้ครบถ้วน?");
              }
            }
          } else {
            alert("มีสินค้านี้อยู่แล้วในรายการสั่งซื้อ. กรุณาเพิ่มหรือลดจำนวนเท่านั้น?");
          }
        }
      });
    },
    findTempOrderByTableName(tableName) {
      let tempOrder = this.$store.state.tempOrdersStore.tempOrderData.filter(
        temp => temp.tableName === tableName
      );
      return tempOrder;
    },
    findProductMinimunByProductId(productId) {
      let product = this.$store.state.productStore.proData.filter(
        pro => pro.productId === productId
      );
      return product;
    },
    sumPrice(tableName) {
      let sumPrice = 0;
      this.findTempOrderByTableName(tableName).forEach(function(temp) {
        sumPrice +=
          parseInt(temp.amount) * parseInt(temp.product.productSalePrice);
      });
      return sumPrice;
    },
    findProductIndexByProductId(productId) {
      const index = this.$store.state.productStore.proData.findIndex(
        product => product.productId === productId
      );
      return index;
    },
    getAllProduct() {
      const products = this.$store.state.productStore.proData;
      return products;
    },
    filterTempOrder(tableName) {
      return this.tempOrders.filter(table => {
        if (tableName == table.tableName) {
          return table;
        }
      });
    },
    findTempOrderIndexByTableName(tableName) {
      const index = this.$store.state.tempOrdersStore.tempOrderData.findIndex(
        tempOrder => tempOrder.tableName === tableName
      );
      return index;
    },
    findTempOrderDuplicate() {
      const index = this.$store.state.tempOrdersStore.tempOrderData.findIndex(
        tempOrder =>
          tempOrder.tableName === this.tableName &&
          tempOrder.product.productId === this.productselected.productId
      );
      return index;
    },
    removeTemp(tableName) {
      let index = 0;
      let indexToRemoveArr = [];
      this.$store.state.tempOrdersStore.tempOrderData.forEach(function(temp) {
        if (temp.tableName === tableName) {
          indexToRemoveArr.push(index);
        }
        index++;
      });
      this.$store.commit(
        "tempOrdersStore/removeTempOrderData",
        indexToRemoveArr
      );
      this.$refs.voidModal.hide();
    }
  },
  computed: {
    tempOrders() {
      return this.$store.state.tempOrdersStore.tempOrderData;
    },
    getProducts() {
      const products = this.$store.state.productStore.proData;
      return products;
    }
  }
};
</script>
<style scoped>
.table td,
th {
  text-align: center;
}
.test {
  width: 40%;
  height: 10%;
}
.test2 {
  display: grid;
}
.list-product {
  padding: 1em 1em 4em 1em;
  background-color: #fff;
  border-radius: 5px;
  margin: 1em 0px;
}
.addproduct {
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.addproduct-input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.addproduct-input:focus {
  border-color: #6e8095;
  outline: none;
}
.addproduct-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #27ae60;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin-top: 1em;
}
.error {
  color: red;
  font-weight: bold;
  float: right;
}
.errorinput {
  border: 2px solid #f01e14;
  width: 100%;
  border-radius: 4px;
}
.errorMinimumQty {
  background: rgba(209, 6, 6, 0.959);
  color: #fff;
}
</style>
