<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xs-6 col-md-12">
          <ListTableComponents :tables="getTables" />
      </div>
    </div>
  </div>

</template>
<script>
import ListTableComponents from "@/components/ListTableComponents.vue";
  export default {
    components: {
      ListTableComponents,
    },
    layout: "navbarLayout",
    header: {
      title: "ระบบขายหน้าร้าน POS (Point of sale)"
    },
    data() {
      return {
      
      };
    },
    computed: {
      getTables(){
          const tables = this.$store.state.tablesStore.tableData
          return tables
        }
    }


  };

</script>

